:root {
    --card-background: #f8feff;
    --card-border: #f8feff;
    --card-scale: 1;
    /* Categories */
    --c-formation: #945498;
    --c-skill: #77903d;
    --c-project: #3d9c84;
    --c-softSkill: #4279ac;
    --c-experience: #b6474b;
    --c-hobby: #dd8133;
}

/* Category accents */
.card.formation {--accent: var(--c-formation)}
.card.skill {--accent: var(--c-skill)}
.card.project {--accent: var(--c-project)}
.card.softSkill {--accent: var(--c-softSkill)}
.card.experience {--accent: var(--c-experience)}
.card.hobby {--accent: var(--c-hobby)}

.card {
    background: var(--card-border);
    padding: calc(11px * var(--card-scale));
    min-width: calc(250px * var(--card-scale));
    width: calc(250px * var(--card-scale));
    height: calc(350px * var(--card-scale));
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: 0 0 10px 10px rgba(var(--highlight-green-rgb), 0);
    cursor: pointer;
    transition: outline 0.2s ease, box-shadow 0.2s ease;
    z-index: 1;
}
.card:hover, .card.selected {
    /*outline: var(--highlight-green) 3px solid;*/
    /*outline-offset: 5px;*/
    box-shadow: 0 0 10px 5px rgba(var(--highlight-green-rgb), 1);
}
.card h1 {
    --card-type-font-size: 1.2rem;
    margin: 0;
    font-size: calc(var(--card-type-font-size) * var(--card-scale));
    font-weight: normal;
}

.card-background {
    height: 100%;
    border-radius: 8px;
    background-color: var(--ink);
    position: relative;

    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 15% 85%;
    text-align: center;
}
.q1, .q2, .q3, .q4 {
    background-color: var(--accent);
    align-content: center;
}
.q1 { border-radius:  8px 12px 0 0; }
.q3 { border-radius: 0 0 0 8px; }
.q4 { border-radius: 0 12px 8px 0; }
.q2 .bonus-container {
    background-color: var(--ink);
    border-radius:  0 0 0 12px;

    height: 100%;
    color: var(--accent);
    align-content: center;
}
.q2 .bonus-container h1 {
    --card-point-font-size: 1.4rem;
    font-size: calc(var(--card-point-font-size) * var(--card-scale));
}
.card-body-container {
    grid-column: 1 / 3;
    position: relative;
}
.card-body-background {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 75% 25%;
}

.card-body{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
    text-align: center;
    text-wrap: pretty;
}
.card-body h2 {
    margin-top: 10%;
    --card-title-font-size: 1.3rem;
    font-size: calc(var(--card-title-font-size) * var(--card-scale));
    font-weight: normal;
}

.card-effects {
    text-align: left;
}
.card-effects .xpPerTick {
    margin: 5% 0 0 0;
    font-family: var(--font-family-text) sans-serif;
    --card-title-font-size: 1rem;
    font-size: calc(var(--card-title-font-size) * var(--card-scale));
    text-align: center;
}
.effect-title {
    margin: 0 0 0 5%;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-transform: none;
    font-family: var(--font-family-text) sans-serif;
    --card-title-font-size: 0.9rem;
    font-size: calc(var(--card-title-font-size) * var(--card-scale));
}
.effect-desc {
    margin: 2% 0 0 10%;
    --card-title-font-size: 0.8rem;
    font-size: calc(var(--card-title-font-size) * var(--card-scale));
}

.card-footer{
    position: absolute;
    bottom: 0;
    padding: 3% 2%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    --default-gap: 5px;
    gap: calc(var(--default-gap) * var(--card-scale));
}
.card-footer p {
    padding: 0 5px;
    font-family: var(--font-family-text), sans-serif;
    font-weight: normal;
    font-size: calc(0.65rem * var(--card-scale));
    background-color: #2f2f2f;
    --default-border-radius: 3px;
    border-radius: calc(var(--default-border-radius) * var(--card-scale));
}
.card-footer img {
    --flash-size: 15px;
    width: calc(var(--flash-size) * var(--card-scale));
    height: calc(var(--flash-size) * var(--card-scale));
}

/* --------- card back ----------- */
.card-back {
    height: 100%;
    border-radius: 4px;
    background-color: var(--highlight-blue);
    display: flex;
    z-index: 0;
}

.card-back .card-frame {
    background-color: var(--highlight-blue);
    justify-content: space-around;
}

.card-back h2, .card-back p {
    color: var(--ink);
}

.card-back a {
    color: var(--highlight-green);
}