.card-selection {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#levelReachedText {
    margin-top: 15vh;
}

#selectCardText {
    margin-top: 20px;
}

.card-selection .card-list {
    margin-top: 50px;

    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 15px;
}