.deck-builder {
    position: absolute;
    z-index: 5;
    background-color: var(--bg);

    overflow-y: scroll;
    scrollbar-width: thin;
    max-height: 100vh;
    /*scrollbar-color: var(--highlight-green) var(--highlight-blue);*/
}

.deck-close {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 1% 2%;
}
.deck-close-button {
    width: 50px;
    height: 50px;
    background-color: var(--highlight-green);
    mask: url("/public/assets/cross.svg") no-repeat center;
    transition: background-color 0.3s ease;
}
.deck-close-button:hover {
    background-color: var(--ink);
    cursor: pointer;
}

.card-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin: auto;
}