.energy {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: right;
    gap: 3px;
}
.energy.hud {
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#energyValueText {
    /* Here if we need to change font size or anything*/
}

.energy-icon {
    width: 10px;
    height: 10px;

    border-radius: 3px;
    background-color: #00aff0;
}
.energy-icon.hud {
    width: 24px;
    height: 24px;
}