.game-hud {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-header {
    margin-top: 5vh;
    text-align: center;
}

.game-board {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2%;
    justify-content: center;
}
.game-board .card {
    --card-scale: 0.75;
}

/* No hover effect on deck and board cards */
.card.none:hover, .game-board .card:hover {
    cursor: auto;
    transform: none;
    box-shadow: none;
}