.game-hud {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-header {
    margin-top: 5vh;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game-header-container {
    width: 50%;

    display: flex;
    flex-direction: column;
}

.game-header-texts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bar-background {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 5px solid var(--ink-hover);
    align-self: center;
    background-color: black;
}

.bar-fill {
    height: 100%;
    background-color: var(--highlight-green-hover);
}

.game-board {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2%;
    justify-content: center;
}
.game-board .card {
    --card-scale: 0.75;
}

/* No hover effect on deck and board cards */
.card.none:hover, .game-board .card:hover {
    cursor: auto;
    transform: none;
    box-shadow: none;
}